<h1>Welcome !</h1>

<p>Quelle est votre <a href="https://www.google.fr">Prenom</a></p>

<form action="/" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" >
    <input type="text" name="first_name">
<!--     <a href = 'welcome/<%= params[:first_name] %>'>a</a> -->
    <a href = 'welcome/<%= params[:first_name] %>'><input type="submit" name="Envoyer" ></a>
</form>